@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
.agent-details {
	background-color: #006064;
}
h1 {
	color: #ffeb3b;
}
h3 {
	font-family: 'Noto Serif', serif;
	color: #fff;
	text-decoration-line: underline;
	text-decoration-thickness: 3px;
}
.valuebox {
	border: 2px solid rgb(34, 255, 5);
	box-shadow: 1px 1px 0.7rem rgb(2, 58, 9);
	border-radius: 4rem;
	font-size: 1.1rem;
}
.renovation-card {
	padding: 2rem;
	background-color: #fff;
	border: 2px double steelblue;
	border-radius: 1rem;
}
.renovation-list-group-item {
	border: 3px solid rgb(193, 206, 223);
}

/* CSS FOR THE TIMELINE */
.timeline-container {
	box-sizing: border-box;
	/* width: 80vw; */
	padding-bottom: 10vh;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.timeline-content h3 {
	color: #006064;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	/* border: 1px ridge rgb(0, 225, 255); */
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.timeline-child-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.timeline-child-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -12px;
	background-color: white;
	border: 4px solid rgb(15, 158, 34);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
/* Place the container to the left */
.timeline-left {
	left: 0;
}

/* Place the container to the right */
.timeline-right {
	left: 50.5%;
}
/* Add arrows to the left container (pointing right) */
.timeline-left::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-right::before {
	content: ' ';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
.timeline-right::after {
	left: -16px;
}

/* The actual content */
.timeline-content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 29px;
	}

	/* Full-width containers */
	.timeline-child-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.timeline-child-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.timeline-left::after,
	.timeline-right::after {
		left: 15px;
	}

	/* Make all right containers behave like the left ones */
	.timeline-right {
		left: 0%;
	}
}
