@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
.container-fluid {
	height: 100vh;
	width: 90vw;
	padding: 0rem;
}
.wrapper {
	box-shadow: 1px 1px 0.7rem #043670a9;
	padding-bottom: 1rem;
	margin: 0 auto;
}
.login {
	margin: 4rem;
	margin-top: 0rem;
	padding-top: 0rem;
	line-height: 1;
}
.login-input {
	border: 1px solid #043670a9;
}
.login-label {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	padding: 1rem;
	text-align: left;
}
.login-form-group {
	padding: 1rem;
	padding-bottom: 0rem;
	text-align: left;
}
.img-fluid {
	max-width: 50%;
}
.login-button-group {
	padding: 1rem 1rem 1rem 0rem;
}
.guest-button,
.login-button {
	min-width: 9.8rem;
}

@media only screen and (max-width: 767px) {
	.guest-button,
	.login-button {
		margin: 0.5rem;
	}
}
