@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
.navbar {
	border-bottom: 3px solid rgba(23, 130, 172);
}
.navButton {
	color: #1377b9;
	font-size: 1.2rem;
	font-family: 'Domine', serif;
}
