.CatalogueContainer {
  text-align: center;
}

.RecentlyViewedContainer {
  display: flex;
  justify-content: center;
}

.CardDeckContainer {
  display: flex;
  justify-content: center;
}

.CardDeck {
  width: 100%;
  justify-content: center;
}

.RecentlyViewed {
  margin-top: 7.5vh;
  margin-bottom: 2.5vh;
  justify-content: center;
}
