body {
  background-color: #00838F;
}

.CatalogueContainer {
  text-align: center;
  height: 100vh;
  color: white;
}

.RecentlyViewedContainer {
  display: flex;
  justify-content: center;
}

.CardDeckContainer {
  display: flex;
  justify-content: center;
}

.CardGroup {
  width: 90%;
  justify-content: center;
}

.RecentlyViewed {
  margin-top: 10vh;
  justify-content: center;
}
