.CardDeck {
    text-align: center;
}

.RecentlyViewed {
    justify-content: center;

    margin-top: 10vh;
    margin-bottom: 5vh;

    width: 50%;
    border: 1px inset black;
    border-style: inset;
    text-align: center;
}