.CardContainer {
  float: left;
  /*width: 20em;
  height: 17em;*/
  max-width: 18%;
  min-width: 275px;
  max-height: 18%;
  min-height: 260px;
  margin-top: 2vh;
  margin-left: 2vh;
  transition: 0.3s;
  background-color: whitesmoke;
}

.CardImg {
  transition: 0.25s;
}

.CardImg:hover {
  width: 104%;
  margin-left: -2%;
}

.CardContainer:hover {
  background-color: lightcyan;
}

.CardTitle {
  font-weight: 500;
}

.Line1 {
  font-style: italic;
}