.list-group-item {
	border-bottom: 1px solid rgba(39, 39, 39, 0.28);
	margin-bottom: 1px;
}
.buyer-details-row {
	margin: 0;
}

@media only screen and (max-width: 991px) {
	#buyer-section {
		margin-top: 3vh;
	}
}
@media only screen and (orientation: landscape) and (max-device-width: 850px) {
	#buyer-section {
		margin-top: 25vh;
	}
}
@media only screen and (max-width: 575px) {
	#buyer-section {
		margin-top: 5vh;
	}
	table {
		font-size: small;
	}
}
